[submodule "reflex_simulator/wrist_controller"]
	path = reflex_simulator/wrist_controller
	url = https://github.com/axkoenig/wrist_controller.git
	branch = develop
[submodule "reflex_simulator/driver"]
	path = reflex_simulator/driver
	url = https://github.com/axkoenig/reflex-ros-pkg.git
	branch = master