version: '2'
services:
  reflex_stack:
    image: axkoenig/reflex_stack:latest
    build: .
    container_name: sim
    command: /bin/bash -c "source /root/catkin_ws/devel/setup.bash; roslaunch description reflex.launch gui:=true"
    environment:
      - DISPLAY=novnc:0.0
    depends_on:
      - novnc
    networks:
      - x11
  novnc:
    image: theasp/novnc:latest
    environment:
      - DISPLAY_WIDTH=1200
      - DISPLAY_HEIGHT=700
      - RUN_XTERM=no
    ports:
      - "8080:8080"
    networks:
      - x11
networks:
  x11: